body {
    background:         repeating-linear-gradient(to right, #CCC, #FFF, #CCC);
    font-family:        "MgOpen Cosmetica", "Arial Unicode MS";
}

p {
    margin:             0.3em;
}

a:visited {
    color:              inherit;
}

tr {
    line-height: 150%;
}

th, td {
    padding:            0 0.3em;
    vertical-align:     top;
}

#container {
    min-width:          500px;
    min-height:         15em;
    max-width:          850px;;

    margin:             auto;
    background-color:   white;
    box-shadow:         0 0 3px 1px #AAA;
    border-radius:      3px;
}

#header {
    padding:            5px;
}
#header > * {
    vertical-align:     middle;
}

#logo {
    background-image:   url('logo.png');
    width:              96px;
    height:             96px;
    margin:             5px;
    display:            inline-block;
}
#logo-text {
    display:            inline-block;
}

#nav {
    border-top:         3px solid #CCC;
    border-bottom:      3px solid #CCC;

    margin:             0;
    padding:            0 0 0.5em 0;
    padding:            0;

    text-align:         center;
    background:         #EEE;
}

#nav > li {
    display:            inline-block;
    margin:             0 0.2em 0.1em 0.2em;
    margin:             0 0.2em;
    transition:         background 0.2s;
}
#nav > li.current {
    background: #CCC;
}

#nav > li:hover {
    background: #DDD;
}

#nav a {
    text-decoration:    none;
    color:              inherit;
    outline:            none;
    display:            block;
    padding:            0.2em 1em;
}

#content-wrapper {
    padding:            0.1em;
}

#content {
    margin:             1em;
    transition:         opacity 0.2s;
}

#infobox {
    margin:             1em 2em;
    padding:            0.3em;
    border-radius:      0.2em;
    color:              #333;
    transition:         opacity 0.2s;
}

.hidden {
    display:            none;
}

.faded {
    opacity:            0;
}

.emerged {
    opacity:            1;
}

.important {
}

.fatal {
}

table.log {
    width:              100%;
    text-align:         center;
}
table.log th:nth-child(1), td:nth-child(1) {
    text-align:         right;
}
table.log th:nth-child(2), td:nth-child(2) {
    text-align:         left;
}
table.log td:nth-child(3) {
    text-align:         right;
}
table.log td:nth-child(4) {
    text-align:         left;
}

table.stripe {
    border-collapse:    separate;
    border-spacing:     0;
    border-top:         3px solid #CCC;
    border-bottom:      3px solid #CCC;
    border-left:        1px solid #CCC;
    border-right:       1px solid #CCC;
    border-radius:      3px;
}
table.stripe thead tr:nth-child(1) {
    background:         #CCC;
}
table.stripe tbody tr:nth-of-type(2n-1) {
    background:         #EEE;
}
table.stripe tbody tr {
    transition:         background 0.2s;
}
table.stripe tbody tr:hover {
    background:         #DDD;
}
